<div class="modal-content">
    <div class="modal-toggle-wrapper social-profile text-start dark-sign-up">
      <h4 class="modal-header justify-content-center border-0 text-dark">SEARCH</h4>
      <div class="modal-body">       
          <div class="col-md-12">
            <label class="form-label" for="validationCustom01">Emp Id</label>
            <input class="form-control" id="validationCustom01"  [(ngModel)]="search.empId"   type="text" placeholder="Please enter employee id" required="">
          </div>
          <div class="col-12">
            <div class="form-check checkbox-checked">
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label" for="validationCustom02">Name</label>
            <input class="form-control" id="validationCustom02" [(ngModel)]="search.name" type="text" placeholder="Please enter name" required="">
          </div>
          <div class="col-md-12">
            <label class="form-label" for="validationCustom02">Access Type</label>
            <input class="form-control" id="validationCustom02" [(ngModel)]="search.accessType" type="text" placeholder="Please enter user acess type" required="">
          </div>
          <div class="col-md-12">
            <label class="form-label" for="validationCustom02">Email</label>
            <input class="form-control" id="validationCustom02" [(ngModel)]="search.email" type="text" placeholder="Please enter email id" required="">
          </div>
          <div class="col-md-12">
            <label class="form-label" for="validationCustom02">Mobile Number</label>
            <input class="form-control" id="validationCustom02" [(ngModel)]="search.mobileNumber" type="text" placeholder="Please enter mobile number" required="">
          </div>
          
          <div class="col-12">
            <div class="form-check checkbox-checked">
            </div>
          </div>
          <div class="col-12">
            <label class="form-label" for="validationDefault04">Status</label>
            <select class="form-select" id="validationDefault04" required="" [(ngModel)]="search.status">
              <option selected="" disabled="" value="">Choose...</option>
              <option *ngFor="let status of enums.status" >{{status}}</option> 
            </select>
          </div>
          <div class="col-12">
            <div class="form-check checkbox-checked">
            </div>
          </div>
          <div class="col-md-12">
            <button class="btn btn-primary" type="submit" (click)="close()">SEARCH</button>
          </div> 
      </div>
    </div>
  </div>
