<div class="card height-equal">
    <div class="card-header">
        <h4></h4>
        <div class="card-body">
            <form class="row g-3 needs-validation custom-input" [formGroup]="myForm" novalidate
                [ngClass]="{'was-validated': validate}" (ngSubmit)="next(myForm)"> 

                <div class="col-12">
                    <label class="form-label" for="validationCustomSummery">Intend</label>
                    <input class="form-control" id="validationCustomSummery" type="text"
                        placeholder="Please enter valid Intend" required="" formControlName="intend" />
                    <div class="invalid-feedback">Please enter valid Intend</div>
                    <div class="valid-feedback">
                        Looks's Good!</div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="validationResponseSchema">Question</label>
                    <textarea class="form-control" id="validationResponseSchema" style="height: 150px"
                        placeholder="Please enter questions." required="" formControlName="question"></textarea>
                    <div class="invalid-feedback">Please enter a valid Question.</div>
                </div>

                <div class="col-12">
                    &nbsp;
                </div>
                <div class="col-12">
                    &nbsp;
                </div>

                <div class="col-12">
                    <div class="product-buttons">
                        <button class="btn me-2" [disabled]="buttonDissable">
                            <div class="d-flex align-items-center gap-sm-2 gap-1">
                                Finish
                            </div>
                        </button>
                        <button class="btn me-2" [disabled]="buttonDissable">
                            <div class="d-flex align-items-center gap-sm-2 gap-1">
                                {{submitButton1}}
                            </div>
                        </button>
                        <button class="btn" [disabled]="buttonDissable">
                            <div class="d-flex align-items-center gap-sm-2 gap-1">{{submitButton2}}
                                <app-comman-svg-icon [icon]="'front-arrow'"></app-comman-svg-icon>
                            </div>
                        </button>
                    </div>
                </div>


            </form>
        </div>
    </div>