<div class="card height-equal">
    <div class="card-header">
        <h4></h4>
        <div class="card-body">
            <form class="row g-2 needs-validation custom-input" [formGroup]="myForm" novalidate [ngClass]="{'was-validated': validate}"
                (ngSubmit)="next(myForm)">

                <div class="col-12">
                    <label class="form-label" for="validationCustomApplication">Application</label>
                    <select class="form-select" id="validationCustomApplication" formControlName="applicationName" required="">
                        <option selected="" disabled="" value="">Choose...</option>
                        <option *ngFor="let application of applicationMap | keyvalue" [value]="application.key" >{{application.value}} </option>                        
                    </select>
                    <div class="invalid-feedback">Please select a valid application.</div>
                    <div class="valid-feedback">
                        Looks's Good! </div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="validationCustomName">Service Name</label>
                    <input class="form-control" id="validationCustomName" type="text"
                        placeholder="Please enter your name." required="" formControlName="name" />
                    <div class="invalid-feedback">Please enter valid Name</div>
                    <div class="valid-feedback">
                        Looks's Good!</div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="validationCustomSummery">Service Summery</label>
                    <input class="form-control" id="validationCustomSummery" type="text"
                        placeholder="Please enter your summery." required="" formControlName="summary" />
                    <div class="invalid-feedback">Please enter valid summery</div>
                    <div class="valid-feedback">
                        Looks's Good!</div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="validationCustomEndpoint">Service Endpoint</label>
                    <input class="form-control" id="validationCustomEndpoint" type="text"
                        placeholder="Please enter endpoint" required="" formControlName="endpoint" />
                    <div class="invalid-feedback">Please enter valid Endpoint</div>
                    <div class="valid-feedback">
                        Looks's Good!</div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="validationCustomMethod">Method</label>
                    <select class="form-select" id="validationCustomMethod" required="" formControlName="method" >
                        <option selected="" disabled="" value="">Choose...</option>
                        <option *ngFor="let method of enums.method" [value]="method">{{method}} </option>                        
                    </select>
                    <div class="invalid-feedback">Please select a valid method.</div>
                    <div class="valid-feedback">
                        Looks's Good! </div>
                </div>

                <div class="col-6">
                    <label class="form-label" for="validationCustomMethod">Request Type</label>
                    <select class="form-select" id="validationCustomMethod" required="" multiple formControlName="requestTypes" >
                        <option *ngFor="let requestType of enums.requestType" [value]="requestType">{{requestType}} </option>  
                    </select>
                    <div class="invalid-feedback">Please select a valid method.</div>
                    <div class="valid-feedback">
                        Looks's Good! </div>
                </div>

                <div class="col-6">
                    <label class="form-label" for="validationCustomMethod">Response Type</label>
                    <select class="form-select" id="validationCustomMethod" required="" multiple formControlName="responseTypes" >
                        <option *ngFor="let responseType of enums.responseType" [value]="responseType">{{responseType}} </option>  
                    </select>
                    <div class="invalid-feedback">Please select a valid method.</div>
                    <div class="valid-feedback">
                        Looks's Good! </div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="validationbRT">Bot Response Template </label>
                    <input class="form-control" id="validationbRT" type="text" placeholder="Enter Bot Response Template" required="" formControlName="botResponseTemplate"  />
                    <div class="invalid-feedback">Please enter valid Response Template</div>
                    <div class="valid-feedback">
                        Looks's Good!</div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="validationRequestSchema">Request Schema</label>
                    <textarea class="form-control" id="validationRequestSchema" 
                    placeholder="Enter Request Schema" formControlName="requestSchema" ></textarea>
                    <div class="invalid-feedback">Please enter a valid Request Schema.</div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="validationResponseSchema">Response Schema</label>
                    <textarea class="form-control" id="validationResponseSchema" required="" 
                        placeholder="Enter Response Schema" formControlName="responseSchema"  ></textarea>
                    <div class="invalid-feedback">Please enter a valid Response Schema.</div>
                </div>

                <div class="col-12">
                    &nbsp;
                </div>
                <div class="col-12">
                    &nbsp;
                </div>
                <div class="col-12">
                    <div class="product-buttons">

                        <button class="btn me-2" [disabled]="buttonDissable">
                            <div class="d-flex align-items-center gap-sm-2 gap-1">
                                Cancel
                            </div>
                        </button>
                        <button class="btn me-2" type="submit" [disabled]="buttonDissable">
                            <div class="d-flex align-items-center gap-sm-2 gap-1">
                                {{submitButton1}}
                            </div>
                        </button>
                        <button class="btn me-2" type="submit" [disabled]="buttonDissable">
                            <div class="d-flex align-items-center gap-sm-2 gap-1">{{submitButton2}}
                                <app-comman-svg-icon [icon]="'front-arrow'"></app-comman-svg-icon>
                            </div>
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>