<div class="card">
    <div class="card-body" style="height: 550px;overflow-y: scroll;">
        <div class="product-page-details">
            <h3 class="f-w-600">Service Name</h3>
        </div>
        <div class="product-price">
            http://localhost:4200/main/service/detail
        </div>

        <hr>
        <p>Rock Paper Scissors Various Dots Half Sleeves Girl’s Regular Fit T-Shirt I 100% Cotton T Shirt with Half
            Sleeve Round Neck I Regular Wear Solid Kids Tees and Black Sleeve.</p>
        <hr>
        <div>
            <table class="product-page-width">
                <tbody>
                    <tr>
                        <td> <b>Method &nbsp;&nbsp;&nbsp;:</b></td>
                        <td>Pixelstrap</td>
                    </tr>
                    <tr>
                        <td> <b>responseType &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</b></td>
                        <td class="txt-success">In stock</td>
                    </tr>
                    <tr>
                        <td> <b>requestType &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</b></td>
                        <td>ABC</td>
                    </tr>
                    <tr>
                        <td> <b>botResponseTemplate &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</b></td>
                        <td>Cotton</td>
                    </tr>
                    <tr>
                        <td> <b>status &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</b></td>
                        <td>ACTIVE</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h5 class="f-w-600 product-title">Request </h5>
            </div>
            <div class="col-md-8">
                <div class="product-icon">
                    sdfsdf
                    <form class="d-inline-block f-right"></form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h5 class="f-w-600 product-title">Response </h5>
            </div>
            <div class="col-md-8">
                <div class="d-flex ">
                    ssdasdad
                </div>
            </div>
        </div>
        <hr>
        <div class="m-t-15 btn-showcase">
            <a class="btn btn-primary" [routerLink]="['/ecommerce/cart']" title="">
                <i class="fa fa-shopping-basket me-1"></i>Edit</a>
            <a class="btn btn-success" [routerLink]="['/ecommerce/checkout']" title="">
                <i class="fa fa-shopping-cart me-1"></i>Delete</a>

        </div>
    </div>
</div>